  .custom-dropdown-toggle::after {
  display: none; /* hides the small caret */
}

body, html, #root {
  height: 100%;
}

.container {
  max-height: calc(100vh - 80px); /* adjust to navbar height */
  overflow-y: auto;
}
